#image{
    margin-right: 1em;
    width: 6em;
    height: 6em;
    align-content: center;
    text-align: center;
}
h1{
    max-width:100%;
    text-align:center;
}
#singleBookImage{
    width:13em;
    height:15em;
}
#formDiv{
    /*display:inline-flex;*/
    clear:both;
    width:50%;
}
#leftNav {
    padding-right: 1.8em;
    display: inline-table;
    border-right :1px solid #e2e2e2;
}
#otherDescription{
    margin:0px;
}
#otherDescription p{
    margin: 0 1px;
}
#categories p{
    margin-top:1em;
    padding: 0 8px;
    vertical-align: middle;
    border: 1px solid;
    border-color: #adb1b8 #a2a6ac #8d9096;
    text-align: center;
    text-decoration: none!important;
    cursor: pointer;
    display: inline-block;
    background: #d8dde6;
    border-radius: 3px;
}
li{
    list-style-type: none;
}
a{
    text-decoration:none;
    color: #0066c0
}
a:hover{
    text-decoration:none;
    color: #e47911
}

h2 a{
    margin-right:3em;
}
#leftNav a{
    color:#333;
}
#leftNav a:hover{
    color:#e47911;
}

.itemsContainer{
    display: inline-flex;
    max-width: 60%;
    margin-left: 7em;
    padding-top: 1em;
    border-top: 1px solid #e2e2e2;
}
#itemContainer{
    /*display: inline-flex;*/
    /*max-width: 60%;*/
    /*margin-left: 7em;*/
    /*padding-top: 1em;*/
    /*border-top: 1px solid #e2e2e2;*/
}
.row{
    display: inline-table;
}

.items{
    clear: left;
    margin-bottom: 1em;
    border-bottom: 1px solid #e2e2e2;

}
#price{
    color: #b12704;
    position: relative;
    clear: both;
    display: inherit;
}

#topDescriptionItem{
    display:inline-flex;
    position: relative;
    top: -5em;
}
#topSingleDescriptionItem{
    top: 6em;
    position: absolute;
    display: inline-block;
}
#description{
    display: inline-flex;
    padding-bottom: 1em;
}
#descriptionItem{
    display:inline-flex;
}
#imageHolder{
    margin-left:1em;
}
#resultList{
    width:75%;
}
div{
    display:inline;
}
.row:before {
    display: table;
    content: "";
    line-height: 0;
    font-size: 0;
}
#formContainer form{
    max-width:75%;
    text-align:left;
    margin-left:25%;
    height:100%;
    width:75%
}
#selected{
    font-weight:bold;
}

/*color: #0066c0;  this the amazon blue link*/
